@font-face {
	font-family: "Minecraft Title Cyrillic"; 
	src: url("../assets/fonts/MinecraftTitleCyrillic.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "F77 Minecraft"; 
	src: url("../assets/fonts/F77Minecraft.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

/* ============================== SCROLL ==============================*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #cbcbcb;
	border-radius: 3px;

}

::-webkit-scrollbar-track-piece {
	background-color: rgb(228 228 228 / 25%);
}

::-webkit-scrollbar-corner {
	background-color: rgb(228 228 228 / 25%);
}



/*============================== GLOBAL ==============================*/

body {
	background: url(../img/main/background.jpg) top center;
	font-family: F77 Minecraft;
	font-size: 24px;
	color: rgb(0, 0, 0);
	box-sizing: border-box;
	min-height: 100vh;
	box-sizing: border-box;
}

body, h1, h2, ul, li, p{
	overflow-x : hidden;
	margin: 0;
}

p {
	margin-top: 16px;
	letter-spacing: 0.01em;
	line-height: 120%;
}

h2 {
	font-family: Minecraft Title Cyrillic;
	font-size: 38px;
}

a {
	color: black;
	text-decoration: none;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a:hover {
	cursor: pointer;
	color: #343233;
	transition: color 0.3s ease-out;
}

ul, li {
	display: inline;
	list-style: none;
	padding: 0;
}

.inline {
	display: flex;
}

.space-inline {
	display: flex;
	justify-content: space-between;
}

.center-inline {
	display: flex;
	justify-content: center;
}


.container {
	margin: 0 auto;
	width: 1440px;
}

.button {
	display: inline-block;
	margin-top: 20px;
	padding-top: 15px;
	width: 300px;
	height: 40px;
	background: #cbcbcb;
	border-radius: 10px;
	text-align: center;
}

.button:hover {
	background: #b8b8b8;
}

.to-up {
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 40px;
	cursor: pointer;
	background: url(../img/main/up-btn.svg) no-repeat center;
	background-size: cover;
	opacity: .15;
	z-index: 1000;
	transition: linear .15s;
}

.to-up:hover {
	opacity: .2;
	transition: linear .15s;
}

.disable {
	display: none;
}

.content-section {
	margin-top: 50px;
	flex-wrap: wrap;
}



/*============================ HEADER ==============================*/

.header {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #343233;
	z-index: 2020;
	color: white;
}

.header a {
	color: white;
}

.header a:hover {
	color: #d8d8d8;
}

.header.nav-hide {
	display: none;
}

.logo-box {
	width: 60px;

}

.logo-box .text {
	font-family: Minecraft Title Cyrillic;
	font-size: 30px;
	text-align: center;
	padding-top: 6px;
}

.nav-box {
	margin: 18px 15px;
}

.nav-box ul li {
	padding-right: 40px;
}




/*============================== FOOTER ==============================*/

footer {
	margin-top: 101px;
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	z-index: 2020;
	text-align: center;
}

footer a {
	color: #cbcbcb;
	text-decoration: underline;
}

/*============================== INDEX ==============================*/

.welcome {
	height: 940px;
	background-color: rgba(255, 255, 255, 0.5);
}

.info-box {
	margin-top: 355px;
	width: 570px;
}


.content .container {
	padding: 101px 0;
}

.content:after, .content:before{
	background-image: url(../img/main/line-top.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 101px;
	position: absolute;
	width: 100%;
}

.content:after {
	transform: scale(-1);
}

.image-box-welcome {
	margin-top: 110px;
	width: 707px;
	height: 770px;
	background: url(../img/main/unik-land.png) no-repeat center;
}

u {
	cursor: pointer;
}

u:hover {
	color: #343233
}

u:active {
	color: #616161
}

.content-section .info {
	margin: 50px 0;
	width: 670px;
}

.image {
    width: 670px;
}

.image#planet {
	background: url(../img/icons/planet.png) center no-repeat;
	background-size: 580px;
}

.image#decor {
	background: url(../img/icons/decor.png) center no-repeat;
	background-size: 550px;
}

.image#season {
	background: url(../img/icons/season.png) center no-repeat;
	background-size: 550px;
}

.image#whitelist {
	background: url(../img/icons/whitelist.png) center no-repeat;
	background-size: 550px;
}




/*============================== ANOTHER ==============================*/


.preheader {
	height: 415px;
	background-color: rgba(255, 255, 255, 0.5);
}

.info-header {
	margin-top: 160px;
	margin-left: 15px;
	width: 720px;
}

/*============================== NEWS ==============================*/

.content-section .post {
	margin: 50px 0;
	height: 510px;
	width: 1410px;
}

.post-main {
	background: #ffffff80;
	height: 450px;
	border-radius: 0px 10px 10px 10px;
}

.post-image {
	width: 450px;
	height: inherit;
	cursor: pointer;
	border-radius: 0px 0px 0px 10px;
}

.post-content {
	font-size: 18px;
	margin: 25px;
	position: relative;
	width: 910px;
}

.post-header {
	font-family: Minecraft Title Cyrillic;
	background: #cbcbcb;
	width: fit-content;
	height: 60px;
	border-radius: 10px 10px 0 0;
}

.post-header img {
	height: 45px;
	width: 45px;
	margin: 8px 12px;
}

.post-header p {
	margin-right: 30px;
	cursor: pointer;
	height: 33px;
}

.post-header p:hover {
	color: #343233
}

.post-header p:active {
	color: #616161
}

.post-content .likes {
	font-family: Minecraft Title Cyrillic;
	position: absolute;
	bottom: 0;
	right: 10px;
	height: 35px;

}

.likes {
	min-width: 60px;
	background-color: #cbcbcb;
	border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
	user-select: none;
}

.likes img {
	height: 27px;
    margin: 5px;
}
.likes div {
	margin: 4px;
	min-width: 18px;
}

.list-box {
	margin-top: 30px;
	justify-content: center;
	font-family: Minecraft Title Cyrillic;
}

.list-box div {
	padding: 0 20px;
	cursor: default;
}

.list-box div:nth-child(1), .list-box div:nth-child(3) {
	cursor: pointer;
}

/*============================== RULES ==============================*/

.rule-box {
	margin-bottom: 50px;
}

.rule-main {
	background: #ffffff80;
    border-radius: 0px 10px 10px 10px;
	width: 1420px;
}

.rule-main .text {
	font-size: 18px;
	margin: 25px;
	text-indent: 30px;
	padding: 0 50px 25px 20px;
	padding-right: 60px;
}

.rule-header {
	font-family: Minecraft Title Cyrillic;
	background: #cbcbcb;
	width: fit-content;
	height: 60px;
	border-radius: 10px 10px 0 0;
}

.rule-header img {
	height: 45px;
	width: 45px;
	margin: 8px 12px;
}

.rule-header p {
	margin-right: 30px;
	height: 33px;
}

.warning-box {
	background-color: #cbcbcb;
	border-radius: 10px;
	width: 1420px;
}

.warning-box p {
	margin: 15px 30px;
	font-size: 18px;
	color: #AA0000;
	text-indent: 30px;
}

.warning-box u:hover {
	color: #800000;
}


/*============================== REGISTER LOGIN MOADL ==============================*/

.lk-join-box {
	width: 620px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}

.form {
	margin: 60px;
}

.lk-join-box input{
	border-radius: 0;
	border: 2px solid #CBCBCB;
	width: 484px;
	height: 40px;
	font-size: 25px;
	font-family: F77 Minecraft;
	padding-left: 10px;
	outline: none;
	margin-bottom: 25px;
}

.lk-join-box input:focus {
	border: 2px solid #ababab;
}

.lk-join-box input[type=checkbox]{
	width: 25px;
	height: 25px;
}

.lk-join-box input[type=checkbox]{
	width: 25px;
	height: 25px;
}

.lk-join-box .button {
	margin: 40px 0 40px 19%;
}

.lk-join-box h2 {
	text-align: center;
	margin-top: 60px;
}
