@font-face {
	font-family: "Minecraft Title Cyrillic"; 
	src: url("../assets/fonts/MinecraftTitleCyrillic.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "F77 Minecraft"; 
	src: url("../assets/fonts/F77Minecraft.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

/* ============================== SCROLL ==============================*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #cbcbcb;
	border-radius: 3px;

}

::-webkit-scrollbar-track-piece {
	background-color: rgb(228 228 228 / 25%);
}

::-webkit-scrollbar-corner {
	background-color: rgb(228 228 228 / 25%);
}

/*============================ HEADER ==============================*/

.header {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #343233;
	z-index: 2020;
	color: white;
}

.header.nav-hide {
	display: none;
}

.logo-box {
	width: 60px;

}

.logo-box .text {
	font-family: Minecraft Title Cyrillic;
	font-size: 30px;
	text-align: center;
	padding-top: 6px;
}

.nav-box {
	margin: 18px 15px;
}

.nav-box ul li {
	padding-right: 40px;
}


/*============================== GLOBAL ==============================*/

body {
	background: url(../img/main/background.jpg) center;
	font-family: F77 Minecraft;
	font-size: 24px;
	color: rgb(0, 0, 0);
	box-sizing: border-box;
	min-height: 100vh;
	box-sizing: border-box;
}

body, h1, h2, ul, li, p{
	overflow-x : hidden;
	margin: 0;
}

p {
	padding-top: 15px;
	letter-spacing: 0.01em;
	line-height: 120%;
}

h2 {
	font-family: Minecraft Title Cyrillic;
	font-size: 38px;
}

a {
	color: #fff;
	text-decoration: none;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a:hover {
	cursor: pointer;
	color: #d8d8d8;
	transition: color 0.3s ease-out;
}

a:active {
	color: #b8b8b8;
}

ul, li {
	display: inline;
	list-style: none;
	padding: 0;
}

.inline {
	display: flex;
}

.space-inline {
	display: flex;
	justify-content: space-around;
}


.container {
	margin: 0 auto;
	width: 1440px;
}

.button {
	color:black;
	display: inline-block;
	margin-top: 20px;
	padding-top: 15px;
	width: 300px;
	height: 40px;
	background: #cbcbcb;
	border-radius: 10px;
	text-align: center;
}



/*============================== FOOTER ==============================*/

footer {
	margin-top: 101px;
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	z-index: 2020;
	text-align: center;
}

footer a {
	color: #cbcbcb;
	text-decoration: underline;
}

/*============================== INDEX ==============================*/

.welcome {
	height: 940px;
	background-color: rgba(255, 255, 255, 0.5);
}

.info-box {
	margin-top: 355px;
	width: 570px;
}


.content .container {
	padding: 101px 0;
}

.content:after, .content:before{
	background-image: url(../img/main/line-top.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 101px;
	position: absolute;
	width: 100%;
}

.content:after {
	transform: scale(-1);
}

.image-box-welcome {
	margin-top: 110px;
	width: 707px;
	height: 770px;
	background: url(../img/main/unik-land.png) no-repeat center;
}

.info-section {
	margin-top: 100px;
}

.info-section .info {
	width: 670px;
}

.image#planet {
	background: url(../img/icons/planet.png) center no-repeat;
	background-size: 350px;
	height: 240px;
	width: 670px;
}

.image#decor {
	background: url(../img/icons/planet.png) center no-repeat;
	background-size: 350px;
	height: 268px;
	width: 670px;
}

.image#season {
	background: url(../img/icons/season4.png) center no-repeat;
	background-size: 350px;
	height: 281px;
	width: 670px;
}

.image#whitelist {
	background: url(../img/icons/whitelist.png) center no-repeat;
	background-size: 460px;
	height: 240px;
	width: 670px;
}