@media screen and (max-width: 1270px) {
	.container {
		width: 960px;
	}

	/*CARCASS*/

	.post-container {
		height: 350px;
		margin-bottom: 70px;
	}

	.post-pretext {
		width: 440px;
	}

	.post-pretext-box{
		height: 300px;
	}

	.post-pretext-box a.button{
		padding: 10px 20px;
	}

	.page-container {
		padding-bottom: 50px;
	}

}

@media screen and (max-width: 970px) {


	
	.container {
		width: 760px;
	}

	.logo-mini img {
    	margin: 22px 35px 22px 35px;
    	width: 30px;
	}

	.turner {
		display: none;
	}

	.nav-btn {
		display: block;
	}

	.nav-menu ul {
		width: 760px;
	}

	/*CARCASS*/

	.post-image {
		display: none;
	}

	.post-pretext {
		width: 590px;
		border-radius: 0.3em;
	}

	.vertical-box header {
		padding: 60px 60px 0 60px;
	}

	.page-list img {
		width: 16px;
		margin: 0px 8px;
	}

	.page-list img.arrow {
		width: 30px;
	}
}

@media screen and (max-width: 770px) {
	.container {
		width: 560px;
	}

	.vertical-box header {
		font-size: 25px !important;
	}

	.nav-menu ul {
		width: 560px;
	}

	/*CARCASS*/

	.post-pretext {
		width: 390px;
	}

	.post-pretext-box {
		height: 250px;
	}

	.post-pretext-box p {
		-webkit-line-clamp: 3;
		font-size: 20px;
	}

	.post-pretext-box a.button {
		font-size: 17px;
	}

	.post-container {
		height: 300px;
	}

	.vertical-box header {
		padding: 60px 60px 0 60px;
	}

	.page-list img {
		width: 11px;
		margin: 0px 8px;
	}

	.page-list img.arrow {
		width: 25px;
	}

}

@media screen and (max-width: 570px) {

	body {
		font-size: 4.03vw;
	}

	footer {
		height: 8.77vw;
		font-size: 2.8vw;
	}

	.footer {
		padding-top: 2.45vw;
	}

	.section {
		padding-top: 14.03vw;
	}

	.vertical-box {
		min-height: calc(100vh - 22.807vw) !important;
	}

	.container {
		width: 100%;
	}

	.header {
		height: 12.28vw;
	}

	.nav {
    	padding-top: 2.98vw;
    	padding-bottom: 3.5vw;
	}

	.nav-btn  {
		width: 6.14vw;
    	margin: 3.50vw;
    	height: 5.26vw;
	}

	.nav-menu {
		top:12.28vw;
		border-top: 0.17vw solid #707070;
		border-bottom: 0.17vw solid #707070;
	}

	.nav-menu ul {
		margin: 0 auto;
		width: 95%;
	}

	.nav-menu li {
		padding: 1.75vw;  
	}

	.logo-mini {
    	width: 24.21vw;
    	height: 12.28vw;
	}

	.logo-mini img {
    	margin: 3.86vw 6.14vw;
    	width: 5.26vw;
	}

	.login-menu {
		margin-right: 4.66vw;
	}

	/*CARCASS*/

	.vertical-box header {
		padding: 10.52vw 5.52vw !important;
    	font-size: 4.38vw !important;
	}

	.vertical-box section {
		padding: 0 5.52vw !important;
	}

	.post-pretext {
		width: 81vw;
	}

	.post-pretext-box {
		height: 39.5vw;
		margin: 3.95vw;
	}

	.post-pretext-box p {
		-webkit-line-clamp: 3;
		font-size: 3.16vw;
	}

	.post-pretext-box h2 {
		margin-bottom: 3.95vw;
	}

	.post-pretext-box a.button {
		font-size: 2.686vw;
		padding: 1.59vw 3.18vw;
	}

	.post-pretext-box time {
		font-size: 2.385vw;
	}

	.post-container {
		height: 47.4vw;
		margin-bottom: 11.06vw;
	}

	.vertical-box header {
		padding: 9.48vw 9.48vw 0 9.48vw;
	}

	.page-list img {
		width: 2.954vw;
		margin: 0 1.672vw;
	}

	.page-list img.arrow {
		width: 5.875vw;
	}

}

